[submodule "zsh/modules/zsh-completions"]
	path = zsh/modules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/plugins/kube-tmux"]
	path = tmux/plugins/kube-tmux
	url = https://github.com/jonmosco/kube-tmux.git
[submodule "zsh/modules/forgit"]
	path = zsh/modules/forgit
	url = https://github.com/rmakoto/forgit.git
